.login-wrapper {
    position: relative;
    width: 420px;
    height: 470px;
    background: rgba(47, 84, 249, 0.389);
    border-radius: 10px;
    color: white;
}

.login-wrapper .login-form-box {
    width: 100%;
    padding: 40px;
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .login-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
   
}

.login-input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;

}

.login-input-box input::placeholder {
    color: #fff;
}

.login-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

form .login-forgot-password {
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.login-forgot-password a {
    color: #fff;
    text-decoration: none;

}

.login-forgot-password a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

form .register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

form .admin-login {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.admin-login p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.admin-login p a:hover {
    text-decoration: underline;
}